.custom-navbar {
  background: #ffffff;
    padding: 0px 0;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}

.logo-text {
  font-size: 24px;
  color: #0d6efd;
}

.navbar-nav .nav-link {
  font-weight: 500;
  color: #333;
  position: relative;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link.active {
  color: #0d6efd;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #0d6efd;
  bottom: -6px;
  left: 0;
  transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}
.navbar-logo {
  height: 80px;          /* perfect navbar height */
  width: auto;           /* keeps image ratio */
  object-fit: contain;
}


/* Offcanvas menu style */
.offcanvas {
  width: 310px;
}

.offcanvas-body .nav-link {
  font-size: 18px;
}
/* Mobile size adjustment */
@media (max-width: 576px) {
  .navbar-logo {
    height: 50px;
  }
}


/* Mobile spacing */
@media (max-width: 991px) {
  .navbar-nav {
    gap: 10px;
    padding-top: 15px;
  }
}
