.gallery-hero {
  padding: 80px 0;
  background: linear-gradient(to right, #0d6efd, #3f8cff);
  color: white;
  text-align: center;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
}

.hero-text {
  font-size: 18px;
  margin-top: 10px;
}

.gallery-section {
  padding: 60px 0;
}



.gallery-card:hover {
  transform: scale(1.05);
}

.gallery-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 12px;
}


.gallery-card {
  width: 100%;
  height: 220px;          /* SAME HEIGHT FOR ALL */
  overflow: hidden;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  cursor: pointer;
  transition: transform 0.3s ease;
}


::ng-deep .modal-body img {
  max-width: 100%;
  /* border-radius: 50% !important ; */
  max-height: 80vh !important;
  object-fit: contain;
  border-radius: 12px;
}



@media (max-width: 576px) {
  .gallery-card {
    height: 180px;
  }
}

@media (min-width: 992px) {
  .gallery-card {
    height: 250px;
  }
}


@media (max-width: 576px) {
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }

  .modal-content {
    border-radius: 0;
  }
}
