.hero-section {
  padding: 80px 0;
  background: linear-gradient(to right, #0d6efd, #3f8cff);
  color: white;
}

.hero-title {
  font-size: 42px;
  font-weight: 700;
}

.hero-title span {
  color: #ffdd57;
}

.hero-text {
  margin-top: 15px;
  font-size: 18px;
}

.hero-img {
  max-width: 100%;
  height: auto;
}

.section-title {
  font-size: 32px;
  font-weight: 600;
}

.section-text {
  max-width: 700px;
  margin: 15px auto;
  color: #555;
}

.about-section,
.facility-section,
.why-section {
  padding: 70px 0;
}

.facility-card {
  background: #ffffff;
  padding: 25px;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  height: 100%;
}

.why-section {
  background: #f8f9fa;
  font-weight: 500;
}

.cta-section {
  padding: 60px 0;
  background: #0d6efd;
  color: white;
}


@media (max-width: 992px) {
.align-items-center{
    gap: 20px;
}
}

